body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
header{
    margin: 0%;
    background-color: #161616;
    height: 635px;
    width: 1040px;
    margin-left: 160px;
    margin-top: 60px;
    border-radius: 30px;
    display: flex;
}
.heading{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin-left: 50px;
    padding-top: 45px;
}
.football-info{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
}
.live{
    background-color: #dd0000;
    height: 60px;
    width: 150px;
    margin-left: 50px;
    border-radius: 5px;
}
.live a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 5px;
    position: absolute;
}
.ronaldo img{
    height: 413px;
    width: 580px;
    position: absolute;
    margin-top: 221px;
}
nav{
    background-color: #161616;
    height: 250px;
    width: 230px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 105px;
}
.links{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.link-1 a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #dd0000;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}
.link-2 a{
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
    padding-left: 45px;
    padding-right: 50px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
    position: absolute;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;  
}
.link-3 a{
    text-decoration: none;
    color: #161616;
    background-color: #FFFFFF;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 170px;
    position: absolute;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px; 
}
section{
    display: flex;
}
.all-box{
    display: grid;
    grid-template-columns: repeat(3, 300px);
}
.box{
    border: 1px solid #e8e8e8;
    width: 260px;
    height: 202px;
    border-radius: 10px;
}
.one{
    margin-left: 17px;
    margin-top: 100px;
}
.two{
    margin-left: 8px;
    margin-top: 100px;
}
.three{
    margin-top: 100px;
}
.four{
    margin-left: 17px;
    margin-top: 30px;
}
.five{
    margin-left: 8px;
    margin-top: 30px;
}
.six{
    margin-top: 30px;
}
.all-flag{
    display: flex;
    margin-top: 35px;
}
.flag-1 img{
    margin-left: 20px;
}
.vs{
    font-size: 18px;
    font-weight: 600;
    color: #161616;
    margin-left: 5px;
}
.flag-2 img{
    margin-left: 5px;
}
.teams h1{
    font-size: 20px;
    font-weight: 600;
    color: #161616;
    margin: 0%;
    margin-top: 10px;
}
.teams p{
    margin: 0%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
}
footer{
    background-color: #161616;
    height: 445px;
    width: 1349px;
    margin: 0%;
    margin-top: 130px;
}
footer h1{
    font-size: 40px;
    font-weight: 600;
    margin: 0%;
    margin-left: 634px;
    padding-top: 130px;
    color: #FFFFFF;
}
hr{
    margin-left: 118px;
    margin-right: 118px;
    margin-top: 40px;
}
.all-last-link{
    display: flex;
    margin-top: 50px;
}
.all-last-link a{
    text-decoration: none;
    color: #b9b9b9;
}
.last-link-1{
    margin-left: 295px;
}
.last-link-2{
    margin-left: 35px;
}
.last-link-3{
    margin-left: 35px;
}
.last-link-4{
    margin-left: 35px;
}
.last-link-5{
    margin-left: 35px;
}
.last-link-6{
    margin-left: 35px;
}
.all-social-media{
    font-size: 40px;
    display: flex;
    margin-top: 30px;
    padding-left: 500px;
}    
.facebook a{
    color: rgb(29, 116, 216);
    
}
.linkedin a{
    color: rgb(21, 21, 226);
    padding-left: 90px;
}
.github a{
    color: black;
    padding-left: 90px;
}
/* mobile */
@media only screen and (max-width: 767px){
    body{
        margin: 0%;
    }
    header{
        margin: 0%;
        height: 928px;
        width: 400px;
        margin-left: 11px;
        border-radius: 10px;
        display: block;
        width: 100%;
    }
    .heading{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
        margin: 0%;
    }
    section{
        display: none;
    }
    footer{
        display: none;
    }
}
